.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexRow--marcas) .slideChildrenContainer {
  padding: 0.3rem;
}

.sliderLayoutContainer--notification-bar .sliderArrows--notification-bar .caretIcon--notification-bar {
  color: #fff;
}
.sliderLayoutContainer--notification-bar .paginationDotsContainer--notification-bar {
  display: none;
}
.sliderLayoutContainer--notification-bar :global(.vtex-rich-text-0-x-paragraph) {
  color: #fff;
  font-family: "PTSans";
  font-size: 14px;
  font-weight: 400;
}

.sliderTrack--shelf-home-slider .slide {
  border: 1px solid #c6c6c5;
  border-radius: 6px;
  margin: 0 1rem;
  padding: 0 0.8rem;
  background-color: rgba(255, 255, 255, 0.66);
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-button) {
  background-color: #6f6f6e;
  border-color: #6f6f6e;
  width: 111px;
  height: 25px;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-button):hover {
  background-color: #ff9933;
  border-color: #ff9933;
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
  height: 25px;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: Bold;
  text-transform: capitalize;
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-brandName) {
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat";
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
  color: #ff0033;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
}
.sliderTrack--shelf-home-slider .slide :global(.vtex-product-price-1-x-sellingPriceValue--summary)::before {
  content: "Oferta: ";
}

:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel {
  position: relative;
}
:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel .sliderArrows {
  background: rgba(255, 255, 255, 0.5) !important;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 85px;
}
:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel .sliderArrows .caretIcon {
  color: #fff;
}
:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel .paginationDotsContainer {
  position: absolute;
  bottom: -2rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel .paginationDotsContainer .paginationDot {
  background-color: rgba(29, 29, 27, 0.33);
}
:global(.vtex-flex-layout-0-x-flexColChild--columa-slider-info-home) .sliderLayoutContainer--carousel .paginationDotsContainer .paginationDot--isActive {
  background-color: #1d1d1b;
}

.slideChildrenContainer--notification-bar :global(.vtex-rich-text-0-x-paragraph) {
  font-family: "Open-sans", sans-serif;
}
